.welcome h1 {
    color: #f8e9a1;
    font-size: 10vw;
    line-height: 1;
}
.welcome p {
    font-size: .75em;
    color: rgba(255,255,255,.5);
}
.registration {
    max-width:40em;
    margin:auto;
    padding:4em 2em;
}
.registration form {
    padding:2em 0;
    
}

#createParticipant, .startGameBtn {
    background: #f76c6c;
    border: none;
    color: #000;
    font-weight: 700;
    margin:0;
    padding: 1em 2em;
}
.startGameBtn {
    background:#f8e9a1;
}
.registration label {
    font-size:.75em;
    position:absolute;
    top:1em;
    left:1em;
}
.registration .selectAvatar {
    font-size: initial;
    position:initial;
}
.selectAvatar {
    border-radius:50%;
    cursor: pointer;
    float:left;
    padding:.25em;
    width:16.667%;
}
[type=radio] {
    opacity: 0;
}
[type=radio] + img {
    border:.25em solid #f76c6c00;
    border-radius:50%;
}
[type=radio]:checked + img {
    border:.25em solid #f76c6c;
}



.playerArea {
    float:left;
    padding:2em;
    width:33.33%;
}
.player{
    float:left;
    margin:1%;
    position: relative;
    width:48%;
}
.eliminated {
    opacity:25%;
}
.playerAvatar {
    border-radius:50%;
    width:100%;
}
.playerName {
    color: #fff;
    position: absolute;
    top: 1em;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    text-shadow: 1px 1px 2px rgba(0,0,0,.5);
}
.playerScore {
    background: #24305e;
    border: 2px solid #f8e9a1;
    border-radius: 50%;
    color: #fff;
    font-size: 2em;
    height: 2em;
    line-height: 2em;
    width: 2em;
    text-align: center;
    position: absolute;
    bottom: 0;
    right: 0;
}
.responseArea {
    float:left;
    padding:2em;
    width:66.66%;
}
.response {
    font-size:1.25em;
    background: #f8e9a1;
    color: #000;
    margin:1em 0;
    padding:.5em 1em;
}
.dragHover {
    border:2px solid red;
}