.titleScreen {
    max-width:40em;
    margin:auto;
    padding:4em 2em;
}
fieldset {
    margin-bottom:2em;
    position:relative;
}
input {
    display:block;
    padding:2em 1em 1em;
    width:100%;
}
button {
    display:inline-block;
    margin:0 1em 0 0;
}
.loginFormDiv {
    margin-bottom:2em;
}
#loginSubmit, #signup, #offlineGameInit {
    background: #f76c6c;
    border: none;
    color: #000;
    font-weight: 700;
    padding: 1em 2em;
}
#offlineGameInit {
    background: #a8d0e6;
    margin-top:2em;
    text-decoration:none;
}
#signup {
    background: #f8e9a1;
}
.titleScreen label {
    font-size:.75em;
    position:absolute;
    top:1em;
    left:1em;
}
.titleScreen .pwToggle {
    display:block;
    position:initial;
    margin-bottom:2em;
}
.pwToggle [type=checkbox] {
    display:inline-block;
    width:initial;
}
.titleScreen a {
    display:inline-block;
    padding:1em 0;
}

.userAvatar {
    width: 200px;
}
#signout {
    padding:1em 2em;
    position: fixed;
    bottom:1em;
    left:50%;
    transform:translateX(-50%);
}